/* ------------------------------------------- Defaults ------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Kanit:200|Oswald:700');

html, body { width: auto !important; overflow-x: hidden !important; }

body{
	font-family: 'Kanit', sans-serif;
	font-weight: 400;
	font-size: 12px;
	text-rendering: optimizeLegibility;
	color: #444;
	overflow-x: hidden !important;
}

a {color: none !important;}
a:hover {text-decoration: none;}

p {
	font-size: 18px;
	margin: 0 !important;
}

ul {list-style: none;}

/* --------------------------------- Customs ---------------------------------- */
.big {font-size: 2em;}

.bold {font-weight: bold;}

.add-padding {padding: 3%;}

.p-super {padding: 5%;}

.no-padding {padding: 0;}

.pull-right, .pull-left {display: inline-block; margin: 5px 15px;}

.rounded {border-radius: 50px !important;}

.mini-rounded {border-radius: 5px;}

.off {
	-webkit-transition: all 300ms ease-in-out !important;
    -moz-transition: all 300ms ease-in-out !important;
    -ms-transition: all 300ms ease-in-out !important;
    -o-transition: all 300ms ease-in-out !important;
    transition: all 300ms ease-in-out !important;
    display: none;
}

.on {
	-webkit-transition: all 3000ms ease-in-out !important;
    -moz-transition: all 3000ms ease-in-out !important;
    -ms-transition: all 3000ms ease-in-out !important;
    -o-transition: all 3000ms ease-in-out !important;
    transition: all 3000ms ease-in-out !important;
    display: block;
}

.btn {
	border: 0;
	border-radius: 0;
	-webkit-transition: all 300ms ease-in-out !important;
    -moz-transition: all 300ms ease-in-out !important;
    -ms-transition: all 300ms ease-in-out !important;
    -o-transition: all 300ms ease-in-out !important;
    transition: all 300ms ease-in-out !important;
}

.btn:hover {
	-webkit-transition: all 300ms ease-in-out !important;
    -moz-transition: all 300ms ease-in-out !important;
    -ms-transition: all 300ms ease-in-out !important;
    -o-transition: all 300ms ease-in-out !important;
    transition: all 300ms ease-in-out !important;
}

.btn-lg {
	width: 100%;
	font-size: 2em;
}

.btn-xs { margin-bottom:0px; padding: 0.5em 1em; font-size: 1em;}

.transparent {background: rgba(255,255,255,0.9);}
.dark-gray {background: #3a3a3c;}
.text-dark-gray {color: #3a3a3c;}
.light-gray {background: #f4f4f4;}
.light {background: white;}
.text-light {color: white !important;}
.transparent {background: rgba(255,255,255,0.9);}
.degradado {
	background: #3a3a3c;
	background: -webkit-linear-gradient(to left, #3a3a3c, #636464);
	background: linear-gradient(to left, #3a3a3c, #636464);
	color: white !important;
} 

/* --------------------------------- Navbar ---------------------------------- */

.navbar-brand, h1, .oswald {
	font-family: 'Oswald', sans-serif;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.nav-link {
	color: black !important;
	font-size: 16px;
	text-transform: uppercase;
}

.navbar-nav .nav-item+.nav-item {
	margin-left: 3rem;
}

.search-form {
	position: relative;
}

.search {
	border-radius: 0;
	height: 30px;
	padding: 10px;
}

.btn-search {
	border-radius: 0;
	height: 30px;
	position: absolute;
	right: 0;
	top: 0;
}

.navbar-toggler {
	background: #3a3a3c !important;
	border-radius: 0;
	color: white !important;
	width: auto;
}

/* --------------------------------- Cover ---------------------------------- */

.cover {
	background: url('../img/bg.jpg');
	background-position: center center;
	background-size: cover;
	padding: 20%;
}

h1 {
	color: white;
	font-size: 10rem;
	letter-spacing: .2em;
	text-align: center;
}

/* --------------------------------- Options ---------------------------------- */

.light-header, .dark-header {
	background: url('../img/light-header.png') no-repeat;
	background-position: center bottom;
	background-size: cover;
	height: 200px;
	padding: 3%;
	text-align: center;
}

.dark-header {
	background: url('../img/dark-header.png') no-repeat;
	background-position: center bottom;
	background-size: cover;
}

.heading {
	color: #3a3a3c;
	font-size: 3rem;
	text-transform: uppercase;
}

.renta {
	border-radius: 7px;
	font-size: 3rem;
	margin-top: 20px;
	padding: 30px 10px 30px 30px;
	text-align: left;
	text-transform: uppercase;
	-moz-box-shadow: 5px 5px 0px 0px #ccc;
	-webkit-box-shadow: 5px 5px 0px 0px #ccc;
	box-shadow: 5px 5px 0px 0px #ccc;
}

.renta::after {
	content: '';
	background: url('../img/flecha.png') no-repeat;
	right: 15px;
	bottom: 0;
	position: absolute;
	width: 103px;
	height: 93px;
}

/* --------------------------------- Desarrollos ---------------------------------- */

.logos {margin-top: 9rem;}

/* --------------------------------- Contacto ---------------------------------- */

.form-control {
	background: #3a3a3c;
	border: 0;
	border-bottom: 3px solid white;
	border-radius: 0;
	color: white;
	margin-top: 20px;
	-webkit-transition: all 300ms ease-in-out !important;
    -moz-transition: all 300ms ease-in-out !important;
    -ms-transition: all 300ms ease-in-out !important;
    -o-transition: all 300ms ease-in-out !important;
    transition: all 300ms ease-in-out !important;
}

.form-control:focus {
	border-bottom: 3px solid #3a3a3c;
	-webkit-transition: all 300ms ease-in-out !important;
    -moz-transition: all 300ms ease-in-out !important;
    -ms-transition: all 300ms ease-in-out !important;
    -o-transition: all 300ms ease-in-out !important;
    transition: all 300ms ease-in-out !important;
}

textarea {resize: none;}

/* --------------------------------- Inmuebles ---------------------------------- */

.inmuebles {
	padding-top: 5%;
	position: relative;
}

.card {
	background: none;
	border: 0;
}

.selected .card-block, .selected .card-img-top {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.33);
}

.card-block {
	background: #f4f4f4;
	margin-top: 20px;
	color: black;
}

.card-block h4 {
	font-weight: bold;
	text-transform: uppercase;
}

body.modal-open {padding: 0 !important;}

.modal-dialog {max-width: 1200px;}

.modal-header {border: 0;}

.modal h5 {
	font-size: 1rem;
	font-weight: bold;
	margin: 0;
	text-transform: uppercase;
}

.modal p {
	font-size: 16px;
	margin-bottom: 10px !important;
}

.modal .dark-header {padding: 5%;}

.modal .content, .modal .col-md-8, .modal .col-md-6, .modal .col-md-4 {padding: 0;}

.flexslider {margin: 0;}

.flexslider .slides img {max-height: 200px !important;}

#next, #prev {
	position: absolute;
	top: 50%;
	z-index: 9999;
}

#next {
	right: -5.5rem;
}

#prev {
	left: -5rem;
}

.flex-direction-nav a {
	background: #3a3a3c;
	background: -webkit-linear-gradient(to left, #3a3a3c, #636464);
	background: linear-gradient(to left, #3a3a3c, #636464);
	color: white !important;
}

a.flex-next, a.flex-prev {
	color: white !important;
    opacity: 1 !important;
	display: block !important;
	width: 36px;
	height: 36px;
}

.flex-direction-nav a.flex-next:before {
	content: '\f105' !important;
}

.flex-direction-nav a:before {
	font-family: "FontAwesome";
	font-size: 1rem;
	content: '\f104' !important;
	color: white;
	padding: 7px 13px;
	text-shadow: none;
}

#slider-down:hover .flex-direction-nav .flex-prev {
	left: -50px !important;
}

#slider-down:hover .flex-direction-nav .flex-next {
	right: -50px !important;
}

#slider-down .card h4 {
	font-size: 1.1rem;
}

#slider-down .slides li {
		width: 345px !important;
		margin-right: 10px !important;
		margin-left: 10px !important;
	}
	
.flexsliderd img {
	width: 100%;
}

.flexsliderd slides img {
	max-height: 430px !important;
}

.flex-control-thumbs {
	margin-top: 30px;
}

.card-block .container, .card-block .col-md-6 {
	padding: 0;
}

.close {
	color: white;
	opacity: 1;
}

.close:hover {
	color: white;
	opacity: 1;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-gallery {
  width: 85%;
  max-width: 1048px;
  margin: 1.5em auto;
}
.cd-gallery::after {
  clear: both;
  content: "";
  display: table;
}
.cd-gallery > li > a {
  display: block;
}

.cd-item-wrapper {
  position: relative;
  margin: 3em 0;
}
.cd-item-wrapper li {
  position: absolute;
  top: 0;
  left: 28%;
  height: 100%;
  width: 45%;
  opacity: 0;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform, opacity;
  -webkit-transform: translateX(200%) scale(0.7);
  -moz-transform: translateX(200%) scale(0.7);
  -ms-transform: translateX(200%) scale(0.7);
  -o-transform: translateX(200%) scale(0.7);
  transform: translateX(200%) scale(0.7);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  -moz-transition: -moz-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}
.cd-item-wrapper li.selected {
  /* selected item */
  position: relative;
  opacity: 1;
  -webkit-transform: translateX(0) scale(1.3);
  -moz-transform: translateX(0) scale(1.3);
  -ms-transform: translateX(0) scale(1.3);
  -o-transform: translateX(0) scale(1.3);
  transform: translateX(0) scale(1.3);
  z-index: 2;
}
.cd-item-wrapper li.move-left {
  /* item on left - preview visible */
  -webkit-transform: translateX(-100%) scale(0.7);
  -moz-transform: translateX(-100%) scale(0.7);
  -ms-transform: translateX(-100%) scale(0.7);
  -o-transform: translateX(-100%) scale(0.7);
  transform: translateX(-100%) scale(0.7);
  opacity: 1;
}
.cd-item-wrapper li.move-right {
  /* item on right - preview visible */
  -webkit-transform: translateX(100%) scale(0.7);
  -moz-transform: translateX(100%) scale(0.7);
  -ms-transform: translateX(100%) scale(0.7);
  -o-transform: translateX(100%) scale(0.7);
  transform: translateX(100%) scale(0.7);
  opacity: 1;
}
.cd-item-wrapper li.hide-left {
  /* items hidden on the left */
  -webkit-transform: translateX(-200%) scale(0.7);
  -moz-transform: translateX(-200%) scale(0.7);
  -ms-transform: translateX(-200%) scale(0.7);
  -o-transform: translateX(-200%) scale(0.7);
  transform: translateX(-200%) scale(0.7);
}
.cd-item-wrapper li img {
  display: block;
  width: 100%;
  max-height: 245px !important;
}
@media only screen and (min-width: 1048px) {
  .cd-item-wrapper li.move-left,
  .cd-item-wrapper li.move-right {
    /* hide preview items */
    opacity: 1;
  }
  .cd-item-wrapper li.focus-on-left {
    /* class added to the .selected and .move-right items when user hovers over the .move-left item (item preview on the left) */
    -webkit-transform: translateX(3%) scale(1.25);
    -moz-transform: translateX(3%) scale(1.25);
    -ms-transform: translateX(3%) scale(1.25);
    -o-transform: translateX(3%) scale(1.25);
    transform: translateX(3%) scale(1.25);
  }
  .cd-item-wrapper li.focus-on-left.move-right {
    -webkit-transform: translateX(103%) scale(0.7);
    -moz-transform: translateX(103%) scale(0.7);
    -ms-transform: translateX(103%) scale(0.7);
    -o-transform: translateX(103%) scale(0.7);
    transform: translateX(103%) scale(0.7);
  }
  .cd-item-wrapper li.focus-on-right {
    /* class added to the .selected and .move-left items when user hovers over the .move-right item (item preview on the right) */
    -webkit-transform: translateX(-3%) scale(1.25);
    -moz-transform: translateX(-3%) scale(1.25);
    -ms-transform: translateX(-3%) scale(1.25);
    -o-transform: translateX(-3%) scale(1.25);
    transform: translateX(-3%) scale(1.25);
  }
  .cd-item-wrapper li.focus-on-right.move-left {
    -webkit-transform: translateX(-103%) scale(0.7);
    -moz-transform: translateX(-103%) scale(0.7);
    -ms-transform: translateX(-103%) scale(0.7);
    -o-transform: translateX(-103%) scale(0.7);
    transform: translateX(-103%) scale(0.7);
  }
  .cd-item-wrapper li.hover {
    /* class added to the preview items (.move-left or .move-right) when user hovers over them */
    opacity: 1 !important;
  }
  .cd-item-wrapper li.hover.move-left {
    -webkit-transform: translateX(-97%) scale(0.75);
    -moz-transform: translateX(-97%) scale(0.75);
    -ms-transform: translateX(-97%) scale(0.75);
    -o-transform: translateX(-97%) scale(0.75);
    transform: translateX(-97%) scale(0.75);
  }
  .cd-item-wrapper li.hover.move-right {
    -webkit-transform: translateX(97%) scale(0.75);
    -moz-transform: translateX(97%) scale(0.75);
    -ms-transform: translateX(97%) scale(0.75);
    -o-transform: translateX(97%) scale(0.75);
    transform: translateX(97%) scale(0.75);
  }
}

.cd-dots {
  /* not visible in the html document - created using jQuery */
  position: relative;
  bottom: 95px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: .2em;
}
.cd-dots::after {
  clear: both;
  content: "";
  display: table;
}
.cd-dots li {
  display: inline-block;
  float: left;
  margin: 0 5px;
  pointer-events: none;
}
.cd-dots li.selected a {
  background: #2f2933;
  border-color: #2f2933;
}
.cd-dots a {
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  border: 1px solid #9688a0;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.2s, background-color 0.2s;
  -moz-transition: border-color 0.2s, background-color 0.2s;
  transition: border-color 0.2s, background-color 0.2s;
}
@media only screen and (min-width: 1048px) {
  .cd-dots li {
    pointer-events: auto;
  }
  .cd-dots li.selected a {
    background: #cccccc;
    border-color: #cccccc;
  }
  .cd-dots a {
    height: 8px;
    width: 8px;
    border-color: #cccccc;
    /* fix a bug in IE9/10 - transparent anchor not clickable */
    background-color: rgba(255, 255, 255, 0);
  }
}

.cd-item-info {
  height: 90px;
  line-height: 90px;
  padding: 0 2em;
}
.cd-item-info::after {
  clear: both;
  content: "";
  display: table;
}
.cd-item-info b, .cd-item-info .cd-price, .cd-item-info .cd-new-price {
  font-weight: bold;
  font-size: 2rem;
}
.cd-item-info b {
  float: left;
}
.cd-item-info b a {
  color: #2f2933;
}
.cd-item-info .cd-price, .cd-item-info .cd-new-price {
  /* .cd-new-price not visible in the html document - created using jQuery */
  float: right;
}
.cd-item-info .cd-price {
  color: #a5d05e;
  position: relative;
  margin-left: 10px;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
}
.cd-item-info .cd-price::after {
  /* crossing line - visible if price is on sale */
  content: '';
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #a5d05e;
  opacity: 0;
  -webkit-transition: width 0.2s 0s, opacity 0s 0.2s;
  -moz-transition: width 0.2s 0s, opacity 0s 0.2s;
  transition: width 0.2s 0s, opacity 0s 0.2s;
}
.cd-item-info .cd-price.on-sale::after {
  opacity: 1;
  width: 100%;
  -webkit-transition: width 0.2s 0s, opacity 0s 0s;
  -moz-transition: width 0.2s 0s, opacity 0s 0s;
  transition: width 0.2s 0s, opacity 0s 0s;
}
.cd-item-info .cd-new-price {
  /* new price - visible if price is on sale */
  color: #e76363;
  opacity: 0;
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
  transform: translateX(5px);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
}
.cd-item-info .cd-new-price.is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-item-info b, .cd-item-info .cd-price, .cd-item-info .cd-new-price {
    font-size: 2.4rem;
  }
}

.no-js .move-right,
.no-js .move-left {
  display: none;
}

/* --------------------------------- Footer ---------------------------------- */

#map {
	width: 100%;
	height: 300px;
}

footer {color: white;}

footer p {font-size: 14px;}

/* --------------------------------- Medias ---------------------------------- */

@media (max-width:1024px){
	.cover {padding: 13%;}
	p {font-size: 12px;}
	.logos {margin-top: 6rem;}
	.renta {padding: 30px 10px 30px 20px;}
}

@media (max-width:768px) {
	p {font-size: 16px !important;}
	.navbar-nav .nav-item+.nav-item {margin-left: 0;}
	h1 {font-size: 5rem;}
	.logos {margin-top: 0;}
	.desarrollos {padding: 0 !important;}
	.desarrollos h4 {margin-top: 20px;}
	.no-padding-m {padding: 3% !important;}
	#slider-down .slides li {
		width: 385px !important;
		margin-right: 60px !important;
		margin-left: 60px !important;
	}
	.flex-direction-nav .flex-prev {
		left: -10px !important;
	}
	.flex-direction-nav .flex-next {
		right: -10px !important;
	}
	#slider-down:hover .flex-direction-nav .flex-prev {
		left: -10px !important;
	}
	
	#slider-down:hover .flex-direction-nav .flex-next {
		right: -10px !important;
	}
	.inmuebles {
		padding-bottom: 20%;
		padding-top: 15%;
	}
	.cd-gallery {
	    margin: 2em auto;
	}
	.cd-gallery > li:nth-of-type(2n) {
	    margin-right: 0;
	}
	.cd-item-wrapper li {
		left: 5%;
		width: 90%;
	}
	#next, #prev {
		top: auto !important;
		bottom: -10px !important;
	}
	#next {right: 0 !important;}
	#prev {left: 0 !important;}
}

@media (max-width:524px) {
	.cover {padding: 20% 10%;}
	h1 {font-size: 4rem; margin-top: 30px;}
	.heading {font-size: 2rem; padding-top: 0;}
	h4,.h4 {font-size: 1rem !important;}
	p {font-size: 13px !important;}
	.modal-header.dark-header, .light-header {height: auto;}
	#slider-down .slides li {width: 8% !important;margin-right: 10px !important;margin-left: 10px !important;}
	footer .col-md-4 {margin-bottom: 20px;}
}

@media (max-width:360px) {
	.cover {padding: 20% 5%;}
	h1 {font-size: 4rem; margin-top: 30px;}
	.big {font-size: 1.2em;}
	.renta {font-size: 2.3rem; padding: 30px 10px 30px 10px;}
}