/*** Estilos personalizados **/
.bg-login{background-color:#ecf0f1;}
.text-center{text-align: center;}
.dropzone {
    border: 1px solid #ccc;
    min-height: 256px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #E4E7EA;
    padding: 23px;
}
.dropzone .dz-default.dz-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  background-image: url('../images/uploadfile.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 256px;
  height: 256px;
  margin-left: -128px;
  margin-top: -128px;
  top: 50%;
  left: 50%;
}

.pull-right{text-align: right;}
.img-list{max-width: 100px;max-height: 100px;}